body {
    font-family: 'Montserrat', sans-serif;
}

.header {
    background: #1f2937
    }

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    
}

.hero-main {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
 }

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB; 
}

.subtext {
    font-size: 18px;
    color: #E5E7EB; 
}

button {
    border: none;
    border-radius: 8px;
    background: #3882F6;
    color: white;
    padding: 8px 24px; }

img {
    width: 150px;
    height: 150px;
    border-radius: 25px;
    padding: 20px;
    display: flex;
}

.header {
   padding-left: 150px;
   padding-right: 100px;
   padding-bottom: 20px;
}
.links-header {
    display: flex;
    gap: 18px;
}

.header-primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.hdr-first {
    margin-bottom: 100px;
}

.hdr-second {
    display: flex;
  

}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    
}

.img {
    display: flex;
    padding: 20px;
}

h3 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.infopics {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
   .text {
       display: flex;
       justify-content: center;
   }
   
.images {
    display: flex;
    justify-content: center;
    gap: 20px;
    word-wrap: wrap;
    padding-left: 250px;
    padding-right: 100px;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

div.quote1 {
    font-size: 26px;
    color: #1F2937;
    font-weight: italic;
}

div.author {
font-weight: bold;
text-align: right;
}

.quote1 {
    display: flex;
    justify-content: flex-start;
}

.author {
    display: flex;
    justify-content: flex-end;
}

.quote {
    margin-top: 100px;
    background: #E5E7EB;
    padding-left: 250px;
    padding-right: 100px;
    padding-bottom: 20px;
}
.call {
    margin: 100px 150px;
    background: #3882F6;
    padding: 25px 100px 25px 250px;
    color: #eeee;
    font-size: 24px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.call-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.not {
    border-style: solid;
    border-color: white;
}


